version: 1

logger:
    console:
        level: "debug"

cognite:
    project: ${CDF_PROJECT}
    # This is for Microsoft Entra as an IdP. To use a different provider:
    # Set implementation: Basic, and use token-url instead of tenant.
    # See the example config for the full list of options.
    idp-authentication:
        # Directory tenant
        tenant: ${IDP_TENANT_ID}
        # Application ID
        client-id: ${IDP_CLIENT_ID}
        # Client secret
        secret: ${IDP_CLIENT_SECRET}
        # List of resource scopes, ex:
        # scopes:
        #   - https://api.cognitedata.com/.default
        scopes:
          - ${IDP_SCOPE}
 
connector:
  name-prefix: "scaled-solutions-placeit-TEST@"
  data-set-id: ${SIMULATORDATA_SET_ID}
